body{
    background: #004466;
    color: white;
    font-family: Helvetica, Arial;
    text-align: center;
    padding: 20vh;
}

h1{
    font-size: 72px;
}

h3{
    margin: 40px 0;
}

.btn{
    background-color: #e9970b;
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    text-decoration: none;
}